<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/styles/main.css" media="screen" title="no title">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="../public/scripts/app.js" charset="utf-8"></script>
    <title>Dashboard</title>
  </head>
  <body>
  <div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Postition</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Emergency Contact</th>
        <th>Allergies</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <!-- hard coded data - example -->
      <tr>
        <td>John Doe</td>
        <td>Web Developer</td>
        <td>(555) 555-555</td>
        <td>john@example.com</td>
        <td>Jane Doe - sister (555)555-555</td>   <!-- need to add emergency contact to database -->
        <td>shellfish</td>
        <td><button type="button" class="btn btn-warning">Update</button><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>

      <!-- handlebars information -->
      <tr>
        <td>{{name}}</td>
        <td>{{positionTitle}}</td>
        <td>{{phoneNumber}}</td>
        <td>{{email}}</td>
        <td>{{emergencyContact}}</td>
        <td>{{allergies}}</td>
        <td><button type="button" class="btn btn-warning">Update</button><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>




  </body>
</html>
