.btn-danger{
  margin-top: 10px;
}
.table-striped{
  border: 1px solid #d3d3d3;
}
.testBox1{
  border: 1px solid #d3d3d3;
  background-color: #0099cc;
}
h1{
  border-radius: 3px;
  background-color: #eeeeee;
  display: inline-block;
  padding: 3% 18%;
}
.modal-column{
  margin: 20px;
}
.modal-header{
  background-color: #0099cc;
}
